#main {
  width: 100%;
  height: 100%;
}

.header-area {
  width: 100%;
  height: 50px;
  background-color: #000080;
  margin: 20px 0px 20px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: bold;
}

.contents-area {
  width: 100%;
  height: 100%;
}

.accent {
  color: #ff0000;
  width: 100%;
  height: 20px;
}

.sub-header-area {
  width: 100%;
  height: 30px;
  background-color: #000080;
  margin-top: -15px;
  color: #FFFFFF;
  text-align: left;
}

.notice-area {
  width: 90%;
  height: auto;
  border: 1px solid #000000;
  margin: 20px auto 0;
  padding-bottom: 20px;
}

.font-bold {
  font-weight: bold;
}

.font-solid {
  font-weight: solid;
}

.font8 {
  font-size: 16px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 16px;
}

.font24 {
  font-size: 24px;
}

.font10 {
  font-size: 10px;
}

.font-readonly {
  color: #808080 !important;
}

.input-readonly {
  color: #808080;
  background-color: #f5f5f5 !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.input-table {
  width: 100%;
}

.input-table td {
  text-align: right;
}

.input-title {
  padding-top: 10px;
  padding-right: 20px;
}

.input-text {
  width: 254px;
  height: 33px;
  background-color: #fafad2;
  border: solid 1px #c0c0c0;
  border-radius: 2px;
}

.input-date {
  width: 256px;
  height: 35px;
  background-color: #fafad2;
  border: solid 1px #c0c0c0;
  border-radius: 2px;
  text-align: right;
}

.input-textarea {
  width: 254px;
  height: 66px;
  background-color: #fafad2;
  border: solid 1px #c0c0c0;
  border-radius: 2px;
  overflow:auto;
  resize: none;
}

.input-select {
  width: 240px;
  height: 24px;
  background-color: #fafad2;
  border: solid 1px;
  border-radius: 2px;
  text-align: left;
  overflow: hidden;
}

.input-select select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.input-select.select-btn {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background-color: #fafad2;
}

.input-select.select-btn::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

.input-select.select-btn select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}

.bottom-border {
  border-bottom: solid 1px;
}

.btn {
  margin: 20px auto;
  display: block;
  position: relative;
  width: 300px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #191970;
  border:1px solid #191970;
  letter-spacing: 20px;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover {
  background: #483d8b;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.tooltip{
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltip-description{
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  background: #90ee90;
  opacity:0.7;
  width: 300px;
  z-index: 9999;
  text-align: left;
}

.tooltip-description:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 60%;
  border: 15px solid transparent;
  margin-left: -15px;
  transform: rotateZ(180deg);
}

.tooltip:hover .tooltip-description{
  display: inline-block;
  top: 30px;
  left: 0px;
}

.sp-tooltip-icon {
  display: none;
}

.sub-info {
  width: 100%;
  height: auto;
  border: solid 1px;
  margin-bottom: 35px;
}

.sub-info-title {
  width: 100%;
  height: 20px;
  border-bottom: solid 1px;
  background-color: #f5f5f5;
  padding-bottom: 5px;
}

.sub-info-list {
  border-spacing: 0px !important;
  padding-bottom: 10px;
  height: auto;
  width: 90%;
}

.sub-info-list th {
  width: 160px;
}

.sub-info-list-title {
  padding-right: 20px;
  font-size: 12px;
}

.sub-info-list-detail {
  padding-right: 20px;
  font-size: 12px;
}

.selected-info {
  width: 100%;
  height: auto;
}

.selected-info-title {
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
}

.selected-info-list {
  width: 100%;
  border-spacing: 0px !important;
  background-color: #87ceeb;
  height: auto;
}

.selected-info-list-detail {
  padding-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

th {
font-weight: normal;
}

