@media (max-width: 650px) {

    .input-table th,
    .input-table td {
      display: block;
      text-align: center;
    }

    .input-select {
      margin: 0 auto;
      height: auto;
      width: 258px;
    }

    .sp-tooltip-icon {
      display: inline-block;
      border: solid 1px #0000ff;
      border-radius: 20px;
      color: #0000ff;
      font-size: 8px;
      font-weight: bold;
    }
}
