.header-clients {
  background: url("../assets/img/square19.png") center top/cover no-repeat;
}

.header-clients img {
  z-index: 10;
  position: absolute;
  left: calc(50% + 200px);
}

.footer-clients {
  background: url("../assets/img/square27.png") center top/cover no-repeat;
  position: relative;
}

.footer-clients img {
  z-index: 10;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rank-text {
  float: right;
}

.rank-text a {
  color: #00bfff;
  text-decoration: none;
}
