* {
    margin: 0px;
    padding: 0px;
    color: #808080;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, select:focus {
  outline: 0;
}

th, td {
  font-size: 12px;
}

.main {
  width: 100%;
  min-width: 1066px;
  height: 100%;
  overflow-x: hidden;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 3px solid #ECECEC;
  position: fixed;
  z-index: 999;
}

.hbgr-btn {
  display: none;
  width: 34px;
  height: 34px;
}

.hbgr {
  width: 34px;
  height: 34px;
}

.hbgr-close {
  display: none;
  width: 34px;
  height: 34px;
}

.nav-contents {
  width: 620px;
  height: 28px;
  margin: 0 auto;
  padding-top: 15px;
  text-align: right;
  position: relative;
}

.nav-title {
  width: 310px;
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 160px;
}

.logout-btn {
  width: 108px;
  height: 28px;
  background: url("../assets/img/btn01.png") no-repeat;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  padding-top: 2px;
  position: absolute;
  top: 15px;
  right: 28px;
  border: none;
}

.logout-btn:focus {
  outline: 0px;
}

.help-btn {
  width: 20px;
  height: 20px;
  background-color: #a9a9a9;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 18px;
  right: 0px;
}

.header {
  padding-top: 60px;
  width: 100%;
  height: 271px;
}

.header-title {
  width: 350px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  padding-top: 84px;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.header-title span {
  color: #ffffff;
  font: bold;
}

.footer {
  width: 100%;
  height: 172px;
}

.contents {
  width: 620px;
  margin: 0 auto;
  margin-top: -100px;
  margin-bottom: -50px;
  padding-top: 20px;
  padding-bottom: 40px;
  z-index: 99;
  position: relative;
  border-radius: 20px;
}

.sub-text-icon {
  display: inline-block;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.sub-text {
  display: inline-block;
  font-size: 8px;
  float: left;
  margin-top: 5px;
  max-width: 491px;
}

.sub-text-json {
  display: inline-block;
  font-size: 8px;
  float: left;
  margin-top: 5px;
  max-width: 343px;
}

.input-content {
  padding: 10px 50px;
}

.first-content-title {
  width: 100%;
  float: left;
}

.input-content-title {
  padding: 10px 50px;
  text-align: center;
}

.input-title-text-dark {
  background-color: #808080;
  color: #FFFFFF;
  border-radius: 20px;
  text-align: left;
  padding-left: 22px;
}

.input-title-text-light {
  background-color: #c0c0c0;
  color: #FFFFFF;
  border-radius: 20px;
}

.sub-contents-client {
  height: 195px;
}

.sub-contents-order {
  height: 225px;
}

.sub-contents-order2 {
  height: 550px;
}

.sub-title-size {
  padding-left: 22px;
  padding-right: 22px;
}

.input-content-sub-box {
  margin: 20px auto;
  padding-left: 50px;
  padding-right: 50px;
}

.input-content-sub {
  padding-top: 10px;
  text-align: center;
  border: 1px solid #a9a9a9;
}

.sub-contents-box {
  overflow-y: scroll;
}

.td-title-15 {
  width: 15%;
}

.td-title-40 {
  width: 40%;
}

.input-text {
  width: 100%;
  height: 37px;
  font-size: 16px;
}

.input-text::placeholder {
  color: #d3d3d3;
}

.input-file {
  width: 100%;
  height: 37px;
  font-size: 16px;
  border: solid 1px #c0c0c0;
  background-color: #FFFFFF;
  position: relative;
}

input[type="file"]::-webkit-file-upload-button {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-color: transparent;
  border: 0;
  color: transparent;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.uploader {
  width: 100%;
  height: 37px;
}

.upload-btn {
  width: 72px;
  height: 32px;
  padding-top: 5px;
  background-color: #808080;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  text-align: center;
}

input[type="file"]::-webkit-file-upload-button:focus {
  outline: 0;
}

.input-date {
  width: 100%;
  height: 37px;
  font-size: 16px;
  background: url("../assets/img/icon03.png") no-repeat;
  background-color: #FFFFFF;
  background-position: right;
  border: 1px solid #d3d3d3;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: relative;
}

input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-select {
  border: 1px solid #d3d3d3;
  margin-right: -5px;
}

.form-control {
  background: #ffffff;
  border: 1px solid #ffffff;
  height: calc(2.5rem + 2px);
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  width: 100%;
  font-size: 16px;
}

.form-control select:focus {
  outline: 0;
  border-color: #00bbf0;
}

.input-textarea {
  width: 100%;
  height: 128px;
  border: 1px solid #d3d3d3;
  overflow:auto;
  resize: none;
}

.input-textarea::placeholder {
  color: #d3d3d3;
}

.json-area {
  width: 470px;
  height: auto;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #ECECEC;
  margin: 20px auto;
}

.json-contents {
  padding: 40px 50px 0px;
}

.checkbox-input{
  display: none;
}

.checkbox-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
  padding-top: 2px;
}

.checkbox-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #d3d3d3;
}

.checkbox-input:checked + .checkbox-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 5px;
  height: 12px;
  transform: rotate(40deg);
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
}

.submit-btn {
  width: 100%;
  height: 44px;
  text-align: center;
  margin-top: 20px;
}

.submit-btn:focus {
  outline: 0;
}

.top-back-btn-area {
  width:47px;
  height: auto;
  position: fixed;
  left: calc(50% + 360px);
  bottom: 240px;
  z-index: 1000;
}

.top-btn {
  width: 47px;
  height: 60px;
  background: url("../assets/img/btn04.png") no-repeat;
  border: none;
  margin:5px auto;
}

.back-btn {
  width: 47px;
  height: 60px;
  background: url("../assets/img/btn05.png") no-repeat;
  border: none;
  margin:5px auto;
}

.footer-area img {
  z-index: 10;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.accent {
  color: #ff0000;
}

.margin-top20 {
  margin-top: 20px;
}

.font8 {
  font-size: 8px;
}

.font12 {
  font-size: 12px;
}

.font16 {
  font-size: 16px;
}

.font20 {
  font-size: 20px;
}

.font24 {
  font-size: 24px;
}

.font-bold {
  font-weight: bold;
}

.no-border {
  border: none;
}

.border-dotted {
  width: 100%;
  border-bottom: 2px dotted #a9a9a9;
}

.cursor-pointer {
  cursor: pointer;
}

.background-color-white {
  background-color: #FFFFFF;
}

.background-color-grey {
  background-color: #ECECEC;
}

.color-white {
  color: #FFFFFF;
}

.placeholder-color {
  color: #d3d3d3;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block !important;
}

.display-none {
  display: none !important;
}

.help-text-tip-open {
  display: inline-block !important;
}

.help-text-tip-close {
  display: none !important;
}

#connect {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  z-index: 9999;
}

.fa-redo-alt {
  font-size: 200px;
  color: deepskyblue;
}
