.login-back {
  display: inline-block;
  background: url("../assets/img/background-image-login.png") center top/cover no-repeat;
}

.login-contents {
  width: 620px;
  height: 588px;
  background-color: #ffffff;
  margin: 200px auto 0;
  z-index: 99;
  position: relative;
  border-radius: 20px;
  opacity: 0.9;
}

.logo-login {
  text-align: center;
  padding: 80px 160px 40px;
}

.login-info-box {
  padding: 0 160px;
}

.login-btn {
  width: 100%;
  height: 44px;
  text-align: left;
  margin-top: 30px;
  padding: 0 160px;
}

.submit-btn:focus {
  outline: 0;
}

.login-sub {
  padding: 0 160px;
  margin-top: 10px;
}

.forget-password {
  margin-bottom: 5px;
}

.forget-password a {
  color: #808080;
}