.header-medias {
  background: url("../assets/img/square20.png") center top/cover no-repeat;
}

.header-medias img {
  z-index: 10;
  position: absolute;
  left: calc(50% + 200px);
}

.footer-medias {
  background: url("../assets/img/square29.png") center top/cover no-repeat;
  position: relative;
}
