#menu-first {
  padding-top: 53px;
}

.menu-header {
  padding-top: 60px;
  width: 100%;
  height: 297px;
}

.logo-area {
  margin: 67px auto 0;
  width: 250px;
  text-align: center;
}

.menu-icon-area01 {
  margin: 53px auto 0;
  width: 60px;
  text-align: center;
}

.menu-icon-area02 {
  margin: -8px auto 0;
  width: 60px;
  text-align: center;
}

.menu-content {
  width: 614px;
  height: 100%;
  margin: 0 auto;
  padding: 22px;
}

.menu-btn-area {
  width: 256px;
  height: 176px;
  display: inline-block;
  float: left;
  text-align: left;
  padding: 22px;
}

.menu-title-header {
  font-size: 24px;
  font-weight: normal;
  height: 50px;
}

.menu-title-header span {
  font-weight: bold;
}

.menu-title-sub-text {
  font-size: 12px;
  font-weight: normal;
  line-height: 2.0;
}

.menu-content-btn {
  margin-top: 20px;
}

.clients-area {
  width: 100%;
  background: url("../assets/img/square-menu01.png") center top/cover no-repeat;
  position: relative;
  height: 271px;
}

.medias-area {
  width: 100%;
  position: relative;
  height: 271px;
}

.orders-area {
  width: 100%;
  background: url("../assets/img/square-menu02.png") center top/cover no-repeat;
  position: relative;
  height: 271px;
}

.account-manage-area {
  width: 620px;
  height: 228px;
  margin: 40px auto 0;
  border-radius: 20px;
}

.account-manage-text-area {
  width: 458px;
  height: 58px;
  text-align: left;
  margin: 0 auto;
  padding-top: 22px;
}

.account-search-box {
  width: 333px;
  margin: 30px auto;
  text-align: center;
}

.account-manage-area2 {
  width: 620px;
  height: 178px;
  margin: 40px auto 48px;
  border-radius: 20px;
  border: 5px solid #ECECEC;
}

.footer-nav-area {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 3px solid #ECECEC;
  border-top: 3px solid #ECECEC;
}

.footer-nav-contents {
  width: 620px;
  height: 28px;
  margin: 0 auto;
  padding-top: 15px;
  text-align: right;
  position: relative;
}

.footer-nav-title {
  width: 310px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 200px;
}

.footer-nav-btn-area {
  margin-top: -5px;
}
