.header-medias {
  background: url("../assets/img/square49.png") center top/cover no-repeat;
}

.header-medias img {
  z-index: 10;
  position: absolute;
  left: calc(50% + 200px);
}

.footer-medias {
  background: url("../assets/img/square44.png") center top/cover no-repeat;
  position: relative;
}

.contents-order-top {
  width: 620px;
  margin: 0 auto;
  margin-top: -100px;
  padding-top: 20px;
  padding-bottom: 40px;
  z-index: 99;
  position: relative;
  border-radius: 20px;
}

.contents-back-grey {
  width: 100%;
  background-color: #ECECEC;
}

.contents-order-middle1 {
  width: 620px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 99;
  position: relative;
}

.contents-order-middle2 {
  width: 620px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 99;
  position: relative;
  border-radius: 20px;
}

.contents-order-bottom {
  width: 620px;
  margin: 0 auto;
  margin-bottom: -50px;
  padding-top: 20px;
  padding-bottom: 40px;
  z-index: 99;
  position: relative;
  border-radius: 20px;
}

.title-deco-block {
  width: 10px;
  height: 56px;
  background-color: #808080;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
}

.title-text-area {
  float: left;
  display: inline-block;
}

.order-title {
  height: 56px;
  margin: 22px auto;
  padding: 10px 50px;
}

.order-text-sub {
  height: 56px;
  margin: 0 auto;
  padding: 0 50px;
}

.text-order-text-sub {
  width: 175px;
  height: auto;
  display: inline-block;
}

.border-order-text-sub {
  height: 3px;
  width: 340px;
  margin-top: 10px;
  background-color: #d3d3d3;
  display: inline-block;
  float: right;
}

.excel-text {
  float: left;
}

.excel-text a {
  color: #00bfff;
  text-decoration: none;
}

.add-btn-area {
  width: 100%;
  height: 37px;
  text-align: right;
}

.add-btn {
  width: 158px;
  height: 37px;
  background: url("../assets/img/btn12.png") no-repeat;
  border: none;
}
