@media screen and (max-width: 767px) {

  /* 共通 */
  .main {
    min-width: 375px;
  }

  .nav-contents {
    width: 90% !important;
  }

  .hbgr-btn {
    display: inline-block !important;
  }

  .nav-title {
    display: none;
    top: 60px;
    right: 0;
  }

  .logout-btn {
    display: none;
    top: 90px;
    right: 40px;
  }

  .help-btn {
    display: none;
    top: 95px;
    right: 0;
  }

  .top-back-btn-area {
    bottom: 5%;
    left: 85%;
  }

  .header {
    height: 200px;
  }

  .header img {
    width: 150px !important;
    top: 60px !important;
    left: 60% !important;
  }

  .header-title {
    font-size: 24px !important;
  }

  .contents {
    width: 90% !important;
  }

  .input-content p {
    font-size: 12px !important;
  }

  .input-text {
    border: 1px solid #d3d3d3 !important;
    width: 100% !important;
  }

  .input-text::placeholder {
    font-size: 12px !important;
  }

  .input-select {
    width: 100% !important;
  }

  .input-select .form-control {
    font-size: 12px !important;
  }

  .json-area {
    width: 100% !important;
  }

  .submit-btn {
    width: 100% !important;
  }

  .submit-btn input {
    width: 90% !important;
  }

  .sub-text {
    max-width: 210px !important;
  }

  .sub-text-json {
    max-width: 110px !important;
  }

  /* ログイン */
  .login-contents {
    width: 90% !important;
    height: 450px !important;
    margin: 135px auto 0 !important;
  }

  .logo-login {
    padding: 20px 0 !important;
  }

  .login-info-box {
    padding: 0  20px !important;
  }

  .login-btn {
    padding: 0  20px !important;
  }

  .login-sub {
    padding: 0  20px !important;
  }

  /* メニュー */
  .menu-content {
    width: 100% !important;
  }

  .menu-btn-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .menu-content img {
    width: 100px !important;
    position: absolute !important;
    left: 70% !important;
  }

  .account-manage-area {
    width: 90% !important;
  }

  .account-search-box .input-select {
    width: 90% !important;
  }

  .account-manage-area2 {
    width: 90% !important;
  }

  .account-manage-area2 .menu-content-btn {
    margin-top: 40px !important;
  }

  .account-manage-text-area {
    width: 90% !important;
  }

  .menu-title-header {
    font-size: 18px !important;
  }

  .footer-nav-contents {
    width: 90% !important;
    float: left !important;
  }

  .footer-nav-title {
    display: none !important;
  }

  /* 依頼 */
  .contents-order-top {
    width: 90% !important;
  }

  .contents-order-middle1 {
    width: 90% !important;
  }

  .contents-order-middle2 {
    width: 90% !important;
  }

  .contents-order-bottom {
    width: 90% !important;
  }

  .title-deco-block {
      height: 100px !important;
  }

  .title-text-area {
    width: 210px !important;
  }

  .order-title {
    margin-bottom: 60px !important;
  }

  .border-order-text-sub {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
}